<section id="home">
    <div id="home-container">
        <h1 style="text-align: center; font-size: 24px;">Inicio</h1>
        <button id="show-tasks-popup" class="action-btn">Ver Tareas</button>

        <!-- Pop-up de tareas -->
        <div id="tasks-popup" class="popup">
            <div class="popup-header">
                <span>Tareas</span>
                <span class="close-btn">&times;</span>
            </div>
            <div class="popup-content" id="tasks-popup-content">
                <p>No hay tareas agregadas.</p>
            </div>
        </div>
    </div>
</section>